<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mxply.muei.apm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mxply.muei.apm.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mxply.muei.apm.pr0.DisplayMessageActivity"
            android:label="@string/title_activity_display_message" >
        </activity>
        <activity
            android:name="com.mxply.muei.apm.pr1.Dash1Activity"
            android:label="@string/title_activity_dash1" >
        </activity>
        <activity
            android:name="com.mxply.muei.apm.pr0.Dash0Activity"
            android:label="@string/title_activity_dash0" >
        </activity>
        <activity
            android:name="com.mxply.muei.apm.pr1.Dash1SettingsActivity"
            android:label="@string/title_activity_dash1_settings" >
        </activity>
        <activity
            android:name="com.mxply.muei.apm.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.mxply.muei.apm.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.mxply.muei.apm.pr2.Dash2Activity"
            android:label="@string/title_activity_dash2" >
        </activity>
    </application>

</manifest>
